<!-- Form per Aggiungere una Nuova Task -->
<form action="/add_task" method="POST">
    <input type="text" name="title" placeholder="Nuova Task" required>
    <select name="priority">
        <option value="High">Alta</option>
        <option value="Medium" selected>Media</option>
        <option value="Low">Bassa</option>
    </select>
    <button type="submit">Aggiungi Task</button>
</form>

<!-- Visualizzazione delle Colonnes -->
<div class="kanban-board">
    <!-- To Do Column -->
    <div class="column">
        <h2>To Do</h2>
        <ul>
            {% for task in tasks if task.status == 'To Do' %}
                <li class="card" draggable="true" data-task-id="{{ task.id }}">
                    <div class="task-info">
                        <span class="task-title">{{ task.title }}</span>
                        <span>Creato il: {{ task.created_at|strftime }}</span>
                        <span>Priorità: {{ task.priority }}</span>
                    </div>
                    <div>
                        <a href="/update_task/{{ task.id }}/In_Progress" class="me-2">Start</a>
                        <a href="/delete_task/{{ task.id }}" class="text-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- In Progress Column -->
    <div class="column">
        <h2>In Progress</h2>
        <ul>
            {% for task in tasks if task.status == 'In Progress' %}
                <li class="card" draggable="true" data-task-id="{{ task.id }}">
                    <div class="task-info">
                        <span class="task-title">{{ task.title }}</span>
                        <span>Creato il: {{ task.created_at|strftime }}</span>
                        <span>Priorità: {{ task.priority }}</span>
                    </div>
                    <div>
                        <a href="/update_task/{{ task.id }}/Done" class="me-2">Complete</a>
                        <a href="/delete_task/{{ task.id }}" class="text-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Done Column -->
    <div class="column">
        <h2>Done</h2>
        <ul>
            {% for task in tasks if task.status == 'Done' %}
                <li class="card" draggable="true" data-task-id="{{ task.id }}">
                    <div class="task-info">
                        <span class="task-title">{{ task.title }}</span>
                        <span>Creato il: {{ task.created_at|strftime }}</span>
                        <span>Priorità: {{ task.priority }}</span>
                    </div>
                    <a href="/delete_task/{{ task.id }}" class="text-danger">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>